<div class="row last news">
        <div class="col-md-12">
            <h2>Последние новости</h2>
        </div>
		<div class="col-md-12 last_news">
        {% for last in LAST_NEWS %}
        <div class="col-md-12 last_news_inner">
            <a href="/article/{{last.id}}"><img class="img-last" src="/media/{{last.image}}" alt=""></a>
        </div>
        {% endfor %}
		</div>
    </div>
    <div class="row other">
        <div class="col-md-12">
            <ul>
                <li class="parent">Остальное))</li>
                <li class="child">
                	<a class="children" href="/photos/nature/">ПРИРОДА</a>
                </li>
                <li class="child">
                    <a class="children" href="/photos/soc/">ОБЩЕСТВО</a>
                </li>
                <li class="child">
                	<a class="children" href="/photos/info/">ИНФОРМАЦИЯ</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row soc">
      <div class="col-md-12">
      {% include 'includes/soc.html'%}
      </div>
    </div>
