{% extends "base.html" %}
{% load mptt_tags thumbnail%}

{% block title %}<title>Октябрьский район Волгоградская область</title>{% endblock %}
{% block description %}<meta name="description" content="Октябрьский район Волгоградская область" />{% endblock %}
{% block content %}
<style type="text/css">
    </style>
<div class="col-sm-12 col-md-10 col-md-offset-2 platz-side">
        <h1>Площадь Октябрьский район Волгоградская область</h1>
    <img src="static/panoram/platz.jpg" width="990" height="614"
        class="reel"
        data-image="/static/panoram/1proekt.png"
        data-frames="92"
        data-footage="4"
        data-revolution="800">
</div>
{% endblock %}