{% extends "base.html" %}
{% block description %}<meta name="description" content="{{article.seo_description|default:"Октябрьский район Волгоградская область"}}" />{% endblock %}
{% block inline_js_head %}
    <script>
        var videoId = "{{article.site_sighn}}";
    </script>
{% endblock inline_js_head %}

{% block content %}
<div class="col-md-12 col-md-offset- right-side">
    <div class="row article">
        <div class="col-md-12">
            <h1>{{article.name}}</h1>
        </div>
        <div class="col-md-12">
            {% if article.category == "vid" %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="embed-responsive embed-responsive-16by9">
                            <div id="player" class="embed-responsive-item"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        {{article.description | safe}}
                    </div>
                </div>
            {% else %}
                {{article.description | safe}}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <span class="share__title">Поделиться:</span>
        <a onclick="Share.vkontakte('{{ request.build_absolute_uri }}','Октябрьский район ','','Октябрьский район ')"class="social__link" ><img src="/static/soc/soc1.png" alt="image"></a>
        <a onclick="Share.facebook('{{ request.build_absolute_uri }}','Октябрьский район ','','Октябрьский район ')" class="social__link"><img src="/static/soc/soc2.png" alt="image"></a>
        <a onclick="Share.twitter('{{ request.build_absolute_uri }}','Октябрьский район ','','Октябрьский район ')" class="social__link"><img src="/static/soc/soc3.png" alt="image"></a>
        <a onclick="Share.odnoklassniki('{{ request.build_absolute_uri }}','Октябрьский район ','','Октябрьский район ')"class="social__link"><img src="/static/soc/soc4.png" alt="image"></a>
        <a onclick="Share.mailru('{{ request.build_absolute_uri }}','Октябрьский район ','','Октябрьский район ')" class="social__link"><img src="/static/soc/soc5.png" alt="image"></a>
        <a onclick="Share.google('{{ request.build_absolute_uri }}','Октябрьский район ','','Октябрьский район ')" class="social__link"><img src="/static/soc/soc7.png" alt="image"></a>
    </div>
</div>
{% endblock %}
